<script setup lang="ts">
import MessageBox from '@/components/icons/MessageBox.vue';
import MessageLlist from '@/components/icons/MessageLlist.vue';
import { nextTick } from 'vue';
import { ref } from 'vue';
const messages = ref<string[]>([])
const messageList = ref< typeof MessageLlist | null >(null)
const answers = ['ดีจ้า','ทำไรอ่า','งอนละ!','แง่งงง']
function send(message: string){
  messages.value.push(message)
  answerWithCom()
}
function answerWithCom(){
  const ranAns = Math.floor(Math.random()*1000)%answers.length
  const answer = answers[ranAns]
  messages.value.push(answer)
  nextTick(() => {
    messageList.value?.updateUI()
  })
}
</script>

<template>
  <div>
    <MessageLlist ref="messageList" :messages="messages"></MessageLlist>
    <MessageBox @send="send"></MessageBox>
  </div>
</template>
